.float-menu {
    position: fixed;
    // left: calc(-100px + 10px);
    // top: calc(100% - 100px - 10px);
    width: 200px;
    height: 200px;
    // background-color: skyblue;
    border-radius: 50%;
}

.float-centre {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.6rem;
    height: 0.6rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    z-index: 1000;
}

.float-input {
    height: 0.6rem;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: calc(50% - 0.3rem);
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    border-radius: 0.3rem;
    transition: all 0.25s;
    z-index: 1000;
    color: #fff;
    padding: 0 0.3rem;
    font-size: 0.24rem;
}

.menu-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    // background-color: red;
    border-radius: 50%;
    >li {
        position: absolute;
        left: 50%;
        // bottom: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-50%);
        width: 0.6rem;
        height: 0.6rem;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        z-index: 2000;

        transform-origin: 0 100px;
        transition: all 0.4s;
    }
}
